html,
body {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  margin: 0;
  padding: 0;
}

.renderCanvas {
  display: block;
  width: 100%;
  height: 100%;
}
